body {
    background-color: black;
}
.timeline {
    background-color: antiquewhite;
}
.items {
    background-color: aqua;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.item-top {
    background-color: blueviolet;
    align-self: flex-end;
}
.item-bottom {
    background-color: blueviolet;
    align-self: flex-start;
}
.item-title {
    background-color: blue;
}
.item-content {
    background-color: brown;
}
.divider {
    border: 4px solid green;
    opacity: 1;
}